.footer {
  background-color: var(--color-primary-green);
  padding: 4rem 0;
}

.footer-container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 2rem;
  align-items: start;
  color: var(--color-secondary-light);
  font-family: "Karla", sans-serif;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer-logo img.logo {
  width: 120px;
  height: auto;
  filter: brightness(0) invert(1);
}

.footer-logo img.restaurant {
  width: 100%;
  max-width: 180px;
  border-radius: 16px;
  object-fit: cover;
}

.footer-column h5 {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--color-primary-yellow);
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-secondary-light);
}

.footer-column ul li:hover {
  color: var(--color-primary-yellow);
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo {
    margin: 0 auto 2rem;
  }
}
