/* Container all sections */
.container {
  max-width: 1200px;
  margin: 0 auto 4rem auto;
  padding: 0 2rem;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}
