/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Markazi+Text:wght@400;600&display=swap");

/* Import CSS variables */
@import "./styles/variables.css";

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  color: var(--color-secondary-dark);
  background-color: var(--color-secondary-light);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Markazi Text", serif;
  margin: 0;
  color: var(--color-secondary-dark);
}

h1 {
  font-size: 64px; /* Display */
}

h2 {
  font-size: 40px; /* Subtitle */
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700; /* Extra bold for section titles */
}

/* Paragraphs */
p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 65ch; /* max 65 characters per line */
}

/* Cards */
.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

/* Highlighted text (e.g., price) */
.highlight {
  font-size: 16px;
  font-weight: 500; /* Medium */
}

/* Buttons */
button {
  background-color: var(--color-primary-yellow);
  color: var(--color-secondary-dark);
  border: none;
  border-radius: 16px;
  padding: 0.75rem 1.5rem;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary-green);
  color: white;
  transition: all 0.3s ease;
}
